*
{
    padding: 0;
    margin: 0;
}

body
{
    background: rgb(240, 238, 240);
}

header
{
    height: 70px;
    background: rgb(38, 218, 194);
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-areas: 'logo whatsapp fecebook twitter';
    grid-template-columns: 85% 15%;
}

.w50
{
    max-width: 29%;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.text-center
{
    text-align: center;
}

.container > .card
{
    max-width: 350px;
    width: 90%;
    height: 400px;
    background-clip: padding-box;
    border: 10px solid rgba(120,120,120,0.5); 
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,30%);
}

.title-card
{
    margin-top: 10px;
}

.title-card > p
{
    font-size: 28px;
}

.msn-alert
{
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.input-area
{
    margin-top: 80px;
}

.input-area > input
{
    height: 55px;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background: transparent;
    outline: none;
    margin-bottom: 3px;
}

.input-area > input:hover
{
    border: 2px solid rgb(38, 218, 194);
}

.input-area > .btn-enviar
{
    padding: 5px;
    margin: 10%;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    border-color: rgb(212, 210, 210);
    outline: none;
    margin-top: 21%;
    border-radius: 4px;
    border: 2px solid rgb(15, 1, 1);
}

.input-area > .btn-delete
{
    background: rgb(207, 15, 15);
    color: #fff;
}

.input-area > .btn-enviar:hover
{
    border: 1px solid rgb(7, 167, 230);
}

.input-area > .btn-delete:hover
{
    border: 1px solid #fff;
}

.container-title 
{
    background: rgb(22, 218, 191);
    height: 200px;
}

.container-title > .title 
{
    margin-top: 70px;
    position: absolute;
    width: 20%;
    margin-left: 40%;
    font-size: 30px;
}

.container-title > .title h2
{
    color: rgb(58, 56, 56);
    border-bottom: 2px solid rgb(58, 54, 54);
}

.input-busca 
{
    min-height: 70px;
}

.input-busca:hover
{ 
    box-shadow: 0.2rem 0.1rem 0.7rem 0.2rem #0cbdd4;
}

.input-busca:focus
{
    box-shadow: 0.2rem 0.1rem 0.7rem 0.2rem #0cbdd4;
    border-color: #fff;
}

.icone-search 
{
    background: transparent;
    border: none;
    margin-left: 62%;
    margin-top: -50px;
    font-size: 25px;
    color: rgb(44, 2, 23);
    
}

.card-users
{
    display: flex;
    flex-flow: wrap;
    margin-top: 100px;
    margin-left: 10%;
}

.card-user
{
    width: 28%;
    margin: 1%;
    height: 380px;
    border-top: 4px solid rgb(38, 218, 194);
    border-bottom: 4px solid rgb(38, 218, 194);
    border-left: 1.5px solid rgb(38, 218, 194);
    border-right: 1.5px solid rgb(38, 218, 194);
    border-radius: 8px;
}

.card-user > .card-user-img > img
{
    max-width: 96%;
    min-width: 96%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 8px;
    max-height: 180px;
}

.card-user > .card-user-dados
{
    margin-top: 30px;
}

.card-user > .card-user-dados > p
{
    margin-top: 15px;
}

.card-user > .card-user-dados > p > i
{
   margin-right: 5px;
}

.btn-editar
{
    width: 80%;
    height: 35px;
    margin-left: 10%;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding-top: 13px;
    display: inline-block;
    background: rgb(22, 218, 191);
}

.btn-editar:hover
{
    border: 2px solid #fff;
    background: rgb(18, 235, 206);
}

.pesquisa-card 
{
    max-width: 80%;
    min-width: 80%;
    margin-left: 10%;
    background: transparent;
}



@media (max-width: 1200px) 
{

    header
    {
        grid-template-columns: 100%;
    }

    .container > .card
    {
        left: 50%;
        top: 50%;
        transform: translate(-50%,20%);
    }

    .container-title > .title 
    {
        width: 40%;
        margin-left: 30%;
        font-size: 30px;
    }

    .card-users
    {
        margin-left: 0;
    }

    .card-user
    {
        width: 90%;
        margin: 0;
        margin-left: 5%;
        margin-bottom: 8px;

    }

    .pesquisa-card 
    {
        max-width: 90%;
        min-width: 90%;
        margin-left: 5%;
        background: transparent;
    }

    .icone-search 
    {
        margin-left: 53%;
        margin-bottom: -26px;
    }
}

